<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Joke</title>
</head>
<body>
  <h4><%= joke %></h4>
  <!-- https://stackoverflow.com/questions/8814472/how-to-make-an-html-back-link -->
  <button type="button" onclick="javascript:history.back()">Voltar</button>
</body>
</html>